.profile-avatar {
    --sds-c-avatar-sizing-border: 3px !important;
    --sds-c-avatar-color-background: #f3f2f2 !important;
    --sds-c-avatar-radius-border: 50% !important;
    width: 120px !important;
    height: 120px !important;
    min-width: 120px !important;
    min-height: 120px !important;
}

.slds-card {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.slds-card__body {
    padding: 1.5rem;
}

.slds-text-heading_large {
    font-weight: 700;
    color: #080707;
}

.slds-text-title_bold {
    font-weight: 600;
    color: #3e3e3c;
}

.slds-text-color_weak {
    color: #706e6b;
} 